.custom-modal-container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.custom-modal {
  min-height: 50%;
  min-width: 70%;
  left: 50%;
  overflow: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991.98px) { 
  .custom-modal {
    min-width: 80%;
  }
}

@media (max-width: 767.98px) { 
  .custom-modal {
    height: 100%;
    width: 100%;
  }
}